[submodule "pac"]
	path = pac
	url = https://github.com/PawelLeczkowski/pac.git
[submodule "pcl"]
	path = pcl
	url = https://github.com/PawelLeczkowski/pcl.git
[submodule "pel"]
	path = pel
	url = https://github.com/PawelLeczkowski/pel.git
